<!-- This example requires Tailwind CSS v2.0+ -->
<!--
  Custom select controls like this require a considerable amount of JS to implement from scratch. We're planning
  to build some low-level libraries to make this easier with popular frameworks like React, Vue, and even Alpine.js
  in the near future, but in the mean time we recommend these reference guides when building your implementation:

  https://www.w3.org/TR/wai-aria-practices/#Listbox
  https://www.w3.org/TR/wai-aria-practices/examples/listbox/listbox-collapsible.html
-->
<div class="flex-1 px-2 flex justify-center lg:ml-6 lg:justify-end mb-5">
  <div class="max-w-lg w-full lg:max-w-xs">
  <select class="relative w-full bg-white border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"  (change)="onchange($event)">
    <option value="Todos"><span class="font-normal truncate">Todos</span></option>
    <option value="Managua"><span class="font-normal truncate">Managua</span></option>
    <option value="Merida"><span class="font-normal truncate">Merida</span></option>
    <option value="Honduras"><span class="font-normal truncate">Honduras</span></option>
  </select>
</div></div>


<!-- This example requires Tailwind CSS v2.0+ -->
<ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
  <li
    *ngFor="let mentor of arrMentores"
    [routerLink]="['/mentores', mentor.id]"
    class="
      col-span-1
      flex flex-col
      text-center
      bg-white
      rounded-lg
      shadow
      divide-y divide-gray-200
    "
  >
    <div class="flex-1 flex flex-col p-8">
      <img
        class="w-32 h-32 flex-shrink-0 mx-auto bg-black rounded-full"
        [src]="mentor.imagen"
        alt=""
      />
      <h3 class="mt-6 text-gray-900 text-sm font-medium">
        {{ mentor.id }} - {{ mentor.nombre }} {{ mentor.apellido }}
      </h3>
      <dl class="mt-1 flex-grow flex flex-col justify-between">
        <dt class="sr-only">Title</dt>
        <dd class="text-gray-500 text-sm">{{ mentor.oficina }}</dd>
        <dt class="sr-only">Role</dt>
        <dd class="mt-3">
          <span
            class="
              px-2
              py-1
              text-green-800 text-xs
              font-medium
              bg-green-100
              rounded-full
            "
            >Admin</span
          >
        </dd>
      </dl>
    </div>
    <div>
      <div
        class="-mt-px flex divide-x divide-gray-200"
        [routerLink]="['/mentores', mentor.id, 'mentorados']"
      >
        <div class="w-0 flex-1 flex">
          <a
            href="mailto:{{ mentor.email }}"
            class="
              relative
              -mr-px
              w-0
              flex-1
              inline-flex
              items-center
              justify-center
              py-4
              text-sm text-gray-700
              font-medium
              border border-transparent
              rounded-bl-lg
              hover:text-gray-500
            "
          >
            <!-- Heroicon name: solid/mail -->
            <svg
              class="w-5 h-5 text-gray-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
              />
              <path
                d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
              />
            </svg>
            <span class="ml-3">Email</span>
          </a>
        </div>

        <div class="-ml-px w-0 flex-1 flex">
          <a
            href="tel:{{ mentor.celular }}"
            class="
              relative
              w-0
              flex-1
              inline-flex
              items-center
              justify-center
              py-4
              text-sm text-gray-700
              font-medium
              border border-transparent
              rounded-br-lg
              hover:text-gray-500
            "
          >
            <!-- Heroicon name: solid/phone -->
            <svg
              class="w-5 h-5 text-gray-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"
              />
            </svg>
            <span class="ml-3">Call</span>
          </a>
        </div>

        <div class="-ml-px w-0 flex-1 flex">
          <a
            class="
              relative
              w-0
              flex-1
              inline-flex
              items-center
              justify-center
              py-4
              text-sm text-gray-700
              font-medium
              border border-transparent
              rounded-br-lg
              hover:text-gray-500
            "
          >
            <span class="ml-3">Mentorados</span>
          </a>
        </div>
      </div>
    </div>
  </li>

  <!-- More people... -->
</ul>


<!-- formato de tablas -->
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Nombre
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Tipo de Mentor
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Status
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Role
              </th>
              <th scope="col" class="relative px-6 py-3">
                <span class="sr-only">Action</span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr *ngFor="let mentor of arrMentores"
            [routerLink]="['/mentores', mentor.id]">
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="flex-shrink-0 h-10 w-10">
                    <img class="h-10 w-10 rounded-full" [src]="mentor.imagen" alt="">
                  </div>
                  <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">
                      {{mentor.nombre}} {{mentor.apellido}}
                    </div>
                    <div class="text-sm text-gray-500">
                      {{mentor.email}}
                    </div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{mentor.oficina}}</div>
                <div class="text-sm text-gray-500">{{mentor.celular}}</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                  Active
                </span>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                Mentor Profesional
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                <a href="#" class="text-indigo-600 hover:text-indigo-900">Mentorados</a>
              </td>
            </tr>

            <!-- More people... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
