<select (change)="onchange($event)">
  <option value="Todos">Todos</option>
  <option value="Managua">Managua</option>
  <option value="Merida">Merida</option>
  <option value="Honduras">Honduras</option>
</select>

<div class="mentores">
  <div class="mentor" *ngFor="let escritor of arrMentores">
    <h3>
      {{ escritor.id }} - {{ escritor.nombre }} {{ escritor.apellido }}
    </h3>
    <img [src]="escritor.imagen" alt="" />
    <ul>
      <li>{{ escritor.oficina }}</li>
      <li>{{ escritor.email }}</li>
      <li>{{ escritor.celular }}</li>
      <li>{{ escritor.whatsapp }}</li>
    </ul>
  </div>
</div>
