.mentores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mentor {
  width: 300px;
  border: 1px solid black;
  margin: 10px;
}

.mentor img {
  width: 100%;
}

h3{
    margin-left: 10px;
}
