<select (change)="onchange($event)">
  <option value="Todos">Todos</option>
  <option value="Managua">Managua</option>
  <option value="Merida">Merida</option>
  <option value="Honduras">Honduras</option>
</select>

<div class="mentores">
  <div class="mentor" *ngFor="let mentor of arrMentores">
    <h3>
      {{ mentor.id }} - {{ mentor.nombre }} {{ mentor.apellido }}
    </h3>
    <img [src]="mentor.imagen" alt="" />
    <ul>
      <li>{{ mentor.oficina }}</li>
      <li>{{ mentor.email }}</li>
      <li>{{ mentor.celular }}</li>
      <li>{{ mentor.whatsapp }}</li>
    </ul>
  </div>
</div>
